#logo {
	height: 70px;
	width: 250px;
}

#div1 {
    background-image: url("https://images.pexels.com/photos/196658/pexels-photo-196658.jpeg?cs=srgb&dl=pexels-picjumbocom-196658.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    height: 1000px;
}

nav {
	background-color: black;
	opacity: 0.8;
}


.nav-link {
	color: white;
}


.navbar-nav {
	font-family: 'Lato', sans-serif;
	font-family: 'Lora', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.imgMe {
	width: 350px;
}

.AboutMe {
	background-color: gray;
	background-position: center;
	opacity: 0.9;
}

.AboutMe2 {
	background-color: black;
	background-position: center;
	margin-top: 10rem;
	font-family: 'Lato', sans-serif;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Lora', serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}

#self {
	margin-top: 10rem;
	margin-bottom: 5rem;
	font-family: 'Lato', sans-serif;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Lora', serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.abtm-p{
	font-size: 25px;
	font-weight: lighter;
}

.car {
	background-position: center;
	background-size: cover;
	height: 40vh;
}

.card-img-top {
	height: 50%;
}

#projects, #tools, #contact {
	font-family: 'Lato', sans-serif;
	font-family: 'Libre Baskerville', serif;
	font-family: 'Lora', serif;
	font-family: 'Merriweather', serif;
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Roboto Slab', serif;
}

.fep {
	height: 150px;
	width: 200px;
}

.fep1 {
	height: 120px;
	width: 150px;
}

#contact {
	background-color: black;
}

#contact {
	background-image: url("https://www.adobe.com/content/dam/cc/us/en/creativecloud/design/discover/is-black-a-color/desktop/is-black-a-color_P5_720x350.jpg.img.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.9;
}

@media (max-width: 768px) {
  #self img {
    display: none;
  }
}
